<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ShowCommandStackWindowOnStartup" value="true" />
    <add key ="Themes" value =  "Chocalate;Copper;Default;KeyWest;Powder"/>
    <add key ="GameTypes" value ="Beginner;Intermediate;Advanced;Custom"/>
  </appSettings>
</configuration>
<!--
 <x:Array Type="{x:Type sys:String}" x:Key="Themes" x:Name="Themes">
                <sys:String>Chocalate</sys:String>
                <sys:String>Copper</sys:String>
                <sys:String>Default</sys:String>
                <sys:String>KeyWest</sys:String>
                <sys:String>Powder</sys:String>
            </x:Array>
            <x:Array Type="{x:Type sys:String}" x:Key="GameTypes">
                <sys:String>Beginner</sys:String>
                <sys:String>Intermediate</sys:String>
                <sys:String>Advanced</sys:String>
                <sys:String>Custom</sys:String>
            </x:Array>
-->